@{
    ViewData["Title"] = "Home Page";
}
@using DBTool.Models;
@using System.Collections.Generic;
@using System.Diagnostics;

<javascript>

</javascript>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form id="askform" action="@Url.Action("Index")" method="get">
        <p>Schema:<input type="text" name="TabSchema" id="schema" value="@ViewBag.TabSchema"/> TableName:<input type="text" name="TabName" id="tableName" value="@ViewBag.TabName" /><input type="submit" action="submit" value="提交" /></p>
    </form>
    <div style="float:left;">
        <table border="1" style="float:left">
            <tr>
                <th>空间</th>
                <th>表</th>
                <th>操作</th>
            </tr>
            @{
                foreach (SyscatTable i in @ViewBag.TempList)
                {
                    <tr>
                        <td>@i.TabSchema</td>
                        <td>@i.TabName</td>
                        <td>@Html.ActionLink("查看", "ItemView", i)</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>


