@{
    ViewData["Title"] = "Home Page";
}
@using DBTool.Models;
@using System.Collections.Generic;
@using System.Diagnostics;
@model DBTool.Models.SyscatTable;
<javascript>

</javascript>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form id="askform" action="@Url.Action("Modify")" method="post">
        <p>命名空间:<input name="NameSapce" type="text"/></p>
        <p>类名:<input name="ClassName" type="text"/></p>
        <p>TabSchema:<input name="SyscatTable.TabSchema" readonly="readonly" type="text" value="@Model.TabSchema"/></p>
        <p>TabName:<input name="SyscatTable.TabName" readonly="readonly" type="text" value="@Model.TabName"/></p>
        <input type="submit" />
    </form>

    <div style="float:left;">
        <table border="1">
            <tr>
                <th>空间</th>
                <th>表</th>
                <th>列名字</th>
                <th>类型</th>
                <th>长度</th>
            </tr>
            @{
                foreach (SyscatColumn i in @ViewBag.ColList)
                {
                    <tr>
                        <td>@i.TabSchema</td>
                        <td>@i.TabName</td>
                        <td>@i.ColName</td>
                        <td>@i.TypeName</td>
                        <td>@i.Length</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>


