@{
    ViewData["Title"] = "Home Page";
}
@using DBTool.Models;
@using System.Collections.Generic;
@using System.Diagnostics;
@model DBTool.Models.SyscatTable;
<javascript>

</javascript>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row" style="margin-bottom:20px">
        <form id="askform" action="@Url.Action("Modify")" method="post">
            命名空间:<input name="NameSapce" type="text"/>
            类名:<input name="ClassName" type="text"/>
            TabSchema:<input name="SyscatTable.TabSchema" readonly="readonly" type="text" value="@Model.TabSchema"/>
            TabName:<input name="SyscatTable.TabName" readonly="readonly" type="text" value="@Model.TabName"/>
            <input type="submit" />
        </form>
    </div>
    <div class="row">
        <table border="1" class="table">
            <tr>
                <th></th>
                <th>空间</th>
                <th>表</th>
                <th>列名字</th>
                <th>类型</th>
                <th>长度</th>
            </tr>
            @{
                foreach (SyscatColumn i in @ViewBag.ColList)
                {
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>@i.TabSchema</td>
                        <td>@i.TabName</td>
                        <td>@i.ColName</td>
                        <td>@i.TypeName</td>
                        <td>@i.Length</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>


